.logo-icon10 {
  height: 42px;
  width: 42px;
  position: relative;
  object-fit: cover;
}

.analyzer10,
.pomogranate10 {
  margin: 0;
}

.pomogranate-analyzer10 {
  position: relative;
  font-weight: 500;
}

.logo-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-2xs) var(--padding-9xs);
  gap: var(--gap-5xs);
}

.item12 {
  position: relative;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  min-width: 57px;
}

.menu-item12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  color: var(--black);
}

.item13 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
}

.menu-item13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}

.item14 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 37px;
}

.menu-item14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}

.item15 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 58px;
}

.menu-item15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}

.menu-item-container,
.menu5 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  text-align: left;
  font-family: var(--font-inter);
}

.menu-item-container {
  margin: 0;
  width: 441px;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--gray-1);
}

.menu5 {
  align-self: stretch;
  background-color: var(--primary-50);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-535xl);
  top: 0;
  z-index: 99;
  position: sticky;
  font-size: var(--font-size-base);
  color: var(--black);
}

.how-to-use {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.how-to-use-the-platform-wrapper {
  width: 932.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}

.click-1-icon,
.image-12-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 155.5px;
  object-fit: cover;
}

.click-1-icon {
  top: 103.1px;
  left: 149.6px;
  width: 64.2px;
  height: 80.3px;
  z-index: 1;
}

.image-12-parent {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.frame-wrapper7,
.group-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.group-div {
  align-self: stretch;
  height: 183.4px;
  flex-direction: row;
  position: relative;
}

.frame-wrapper7 {
  width: 240px;
  flex-direction: column;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  min-width: 240px;
}

.step-1 {
  height: 44px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 112px;
}

.click-on-detect,
.or-go-to,
.step-1 {
  margin: 0;
}

.click-on-detect-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-family: inherit;
}

.frame-parent8,
.frame-wrapper6,
.step-1-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.step-1-parent {
  width: 589px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 589px;
}

.frame-parent8,
.frame-wrapper6 {
  flex-direction: row;
}

.frame-parent8 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.frame-wrapper6 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}

.step-2 {
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 117px;
}

.please-refer-the,
.step-2,
.upload-the-images {
  margin: 0;
}

.upload-the-images-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-family: inherit;
}

.frame-wrapper8,
.step-2-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.step-2-parent {
  align-self: stretch;
  gap: var(--gap-19xl);
}

.frame-wrapper8 {
  flex: 1;
  padding: 40px 0 0;
  box-sizing: border-box;
  min-width: 383px;
  max-width: 100%;
}

.vecteezy-cloud-upload-icon-542 {
  height: 240px;
  width: 240px;
  position: relative;
  object-fit: cover;
}

.frame-parent10 {
  width: 909px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  max-width: 100%;
}

.hourglass-isolated-on-white-ba-icon {
  height: 200px;
  width: 200px;
  position: relative;
  object-fit: cover;
}

.step-3,
.wait-for-results {
  margin: 0;
  position: relative;
  letter-spacing: 0.02em;
  font-family: inherit;
}

.step-3 {
  font-size: inherit;
  font-weight: 600;
  display: inline-block;
  min-width: 118px;
}

.wait-for-results {
  align-self: stretch;
  font-size: var(--font-size-9xl);
  font-weight: 400;
}

.frame-wrapper10,
.step-3-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.step-3-parent {
  align-self: stretch;
  gap: var(--gap-19xl);
}

.frame-wrapper10 {
  width: 589px;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}

.frame-wrapper9,
.hourglass-isolated-on-white-ba-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.hourglass-isolated-on-white-ba-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.frame-wrapper9 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}

.frame-parent7,
.frame-parent9,
.result-41 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}

.frame-parent9 {
  width: 945.5px;
  align-items: flex-start;
  gap: 54px;
}

.frame-parent7,
.result-41 {
  align-self: stretch;
  align-items: flex-end;
}

.frame-parent7 {
  gap: 46.6px;
  text-align: left;
  font-size: var(--font-size-17xl);
}

.result-41 {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-base);
  background-color: var(--white-pure);
  padding: var(--padding-29xl) 137px var(--padding-45xl) 121px;
  box-sizing: border-box;
  gap: 78px;
}

.image-upload-requirements {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}

.image-should-be,
.image-size-should {
  margin-bottom: 12px;
}

.image-should-be-in-square-form {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 37px;
}

.image-should-be-container {
  margin: 0;
  width: 656px;
  position: relative;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-family: inherit;
  text-align: left;
  display: inline-block;
  max-width: 100%;
}

.result-5 {
  align-self: stretch;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-base);
  background-color: var(--white-pure);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-xl) var(--padding-45xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: 44px;
}

.hifi-help-inner,
.result-4-parent,
.result-5 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.result-4-parent {
  width: 1240px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--black);
  font-family: var(--font-inter);
}

.hifi-help-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-base);
  box-sizing: border-box;
}

.footer6 {
  height: 356px;
  width: 1440px;
  position: relative;
  background-color: var(--black);
  display: none;
  max-width: 100%;
  z-index: 0;
}

.frame-child7 {
  height: 80px;
  width: 300px;
  position: absolute;
  margin: 0 !important;
  top: 80px;
  left: 100px;
  border-radius: var(--br-9xs);
  background-color: var(--primary-10);
  z-index: 1;
}

.logo-icon11 {
  height: 65.3px;
  width: 65.3px;
  position: relative;
  object-fit: cover;
  min-height: 65px;
}

.analyzer11,
.pomogranate11 {
  margin: 0;
}

.pomogranate-analyzer11 {
  position: relative;
  font-weight: 500;
}

.logo-frame,
.logo7,
.pomogranate-analyzer-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.pomogranate-analyzer-frame {
  flex-direction: column;
  padding: var(--padding-10xs-6) 0 0;
}

.logo-frame,
.logo7 {
  flex-direction: row;
}

.logo7 {
  flex: 1;
  padding: var(--padding-mid-4) var(--padding-7xs) var(--padding-mid-3);
  gap: var(--gap-smi-5);
  flex-shrink: 0;

  z-index: 2;
}

.logo-frame {
  align-self: stretch;
  padding: 0 var(--padding-xs) 0 var(--padding-9xs);
}

.pomegranate-disease-detection3 {
  margin: 0;
  width: 290px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}

.effective-disease-detection3 {
  flex: 1;
  position: relative;
  z-index: 1;
}

.effective-disease-detection-in-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--font-size-sm);
}

.frame-parent11,
.pomegranate-disease-detection-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.pomegranate-disease-detection-container {
  align-self: stretch;
  flex-shrink: 0;

  font-size: var(--font-size-5xl);
  color: var(--white-100);
}

.frame-parent11 {
  width: 296px;
  gap: var(--gap-sm-8);
  font-size: var(--font-size-5xl-9);
  color: var(--black);
}

.home4,
.main-links3 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.main-links3 {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  min-width: 122px;
}

.home4 {
  min-width: 45px;
}

.home-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 var(--padding-12xs);
}

.about3,
.detect3,
.history3 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  z-index: 1;
}

.about3,
.history3 {
  min-width: 55px;
}

.about3 {
  min-width: 46px;
}

.frame-parent12 {
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}

.frame-parent12,
.frame-wrapper11,
.main-links-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-links-group {
  gap: var(--gap-xs);
}

.frame-wrapper11 {
  width: 191px;
  padding: var(--padding-3xs-8) 0 0;
  box-sizing: border-box;
}

.team-social3 {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}

.mohammed-awaf11,
.nitin-yadawad3,
.team-social3 {
  position: relative;
  z-index: 1;
}

.nitin-yadawad3 {
  display: inline-block;
  min-width: 109px;
}

.harsh-angadi3 {
  display: inline-block;
  min-width: 102px;
}

.harsh-angadi3,
.mohammed-umar3 {
  position: relative;
  z-index: 1;
}

.frame-wrapper13,
.mohammed-awaf-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.mohammed-awaf-parent1 {
  flex-direction: column;
  gap: var(--gap-5xs);
}

.frame-wrapper13 {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  font-size: var(--font-size-base);
}

.team-social-media-parent1 {
  flex-direction: column;
  gap: var(--gap-xs);
}

.footer-container,
.frame-wrapper12,
.hifi-help,
.team-social-media-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-wrapper12 {
  flex-direction: column;
  padding: var(--padding-3xs-8) 0 0;
}

.footer-container,
.hifi-help {
  position: relative;
}

.footer-container {
  align-self: stretch;
  background-color: var(--black);
  flex-direction: row;
  padding: var(--padding-51xl-2) var(--padding-81xl) var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-535xl);
  max-width: 100%;
  text-align: left;
  justify-content: space-between;
  font-size: var(--font-size-5xl);
  color: var(--white-100);
  font-family: var(--font-inter);
}

.hifi-help {
  width: 100%;
  background-color: var(--white-25);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-29xl);
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .menu5 {
    gap: var(--gap-258xl);
  }

  .result-41 {
    padding-left: 60px;
    padding-right: 68px;
    box-sizing: border-box;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: var(--gap-43xl);
    justify-content: center;
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1050px) {
  .how-to-use {
    font-size: var(--font-size-19xl);
  }

  .frame-wrapper7 {
    flex: 1;
  }

  .step-1 {
    font-size: var(--font-size-10xl);
  }

  .step-1-parent {
    flex: 1;
    min-width: 100%;
  }

  .frame-parent8 {
    flex-wrap: wrap;
  }

  .step-2 {
    font-size: var(--font-size-10xl);
  }

  .vecteezy-cloud-upload-icon-542 {
    flex: 1;
  }

  .frame-parent10 {
    flex-wrap: wrap;
    gap: var(--gap-21xl);
  }

  .step-3 {
    font-size: var(--font-size-10xl);
  }

  .hourglass-isolated-on-white-ba-parent {
    flex-wrap: wrap;
  }

  .result-41 {
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }

  .image-upload-requirements {
    font-size: 35px;
  }

  .result-5 {
    padding-left: var(--padding-31xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 750px) {
  .menu-item-container {
    display: none;
  }

  .menu5 {
    gap: var(--gap-119xl);
  }

  .step-2-parent {
    gap: var(--gap-lgi);
  }

  .frame-wrapper8 {
    min-width: 100%;
  }

  .step-3-parent {
    gap: var(--gap-lgi);
  }

  .frame-parent9 {
    gap: 27px;
  }

  .frame-parent7 {
    gap: 23px;
  }

  .result-41 {
    gap: 39px;
    padding: var(--padding-xl) var(--padding-15xl) 27px 30px;
    box-sizing: border-box;
  }

  .result-4-parent {
    gap: var(--gap-5xl);
  }

  .footer-container {
    gap: var(--gap-12xl);
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }

  .hifi-help {
    gap: var(--gap-5xl);
  }
}

@media screen and (max-width: 450px) {
  .menu5 {
    gap: var(--gap-50xl);
  }

  .how-to-use {
    font-size: var(--font-size-10xl);
  }

  .click-on-detect-container,
  .step-1,
  .step-2,
  .upload-the-images-container {
    font-size: var(--font-size-3xl);
  }

  .frame-parent10 {
    gap: var(--gap-xl);
  }

  .step-3,
  .wait-for-results {
    font-size: var(--font-size-3xl);
  }

  .result-41 {
    gap: var(--gap-lgi);
  }

  .image-upload-requirements {
    font-size: var(--font-size-7xl);
  }

  .image-should-be-container {
    font-size: var(--font-size-3xl);
  }

  .result-5 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .pomogranate-analyzer11 {
    font-size: var(--font-size-xl);
  }

  .main-links3,
  .pomegranate-disease-detection3,
  .team-social3 {
    font-size: var(--font-size-lgi);
  }

  .footer-container {
    gap: var(--gap-mini);
    padding-top: var(--padding-27xl);
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}