.logo-icon12 {
  height: 42px;
  width: 42px;
  position: relative;
  object-fit: cover;
}

.analyzer12,
.pomogranate12 {
  margin: 0;
}

.pomogranate-analyzer12 {
  position: relative;
  font-weight: 500;
}

.logo-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-2xs) var(--padding-9xs);
  gap: var(--gap-5xs);
}

.item16 {
  position: relative;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  min-width: 57px;
}

.menu-item16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  color: var(--black);
}

.item17 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
}

.menu-item17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}

.item18 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 37px;
}

.menu-item18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}

.item19 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 58px;
}

.menu-item19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}

.frame-nav,
.menu6 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  text-align: left;
  font-family: var(--font-inter);
}

.frame-nav {
  margin: 0;
  width: 441px;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--gray-1);
}

.menu6 {
  align-self: stretch;
  background-color: var(--primary-50);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-535xl);
  top: 0;
  z-index: 99;
  position: sticky;
  font-size: var(--font-size-base);
  color: var(--black);
}

.webpage-is {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}

.construction,
.under {
  margin: 0;
}

.under-construction {
  margin: 0;
  position: relative;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  color: var(--primary-500);
}

.frame-wrapper15,
.webpage-is-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.webpage-is-parent {
  flex: 1;
  flex-direction: column;
  gap: 2px;
}

.frame-wrapper15 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
  box-sizing: border-box;
}

.sorry-for-your,
.this-webpage-is {
  margin: 0;
}

.this-webpage-is-container {
  margin: 0;
  width: 529px;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--black);
  display: inline-block;
  max-width: 100%;
}

.frame-parent15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}

.go-to-homepage {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--primary-10);
  text-align: center;
}

.detect-now2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-5xl);
  background-color: var(--primary-300);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}

.detect-now2:hover {
  background-color: var(--color-chocolate-100);
}

.frame-parent14,
.frame-wrapper14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

.frame-parent14 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}

.frame-wrapper14 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
  box-sizing: border-box;
  min-width: 356px;
}

.ai-3-1 {
  width: 493px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  max-width: 100%;
}

.frame-parent13,
.hifi-under-development-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

.frame-parent13 {
  width: 1203px;
  align-items: flex-end;
  gap: 162px;
}

.hifi-under-development-inner {
  width: 1403px;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: 40px;
  color: var(--gray-2);
  font-family: var(--font-montserrat);
}

.footer7 {
  height: 356px;
  width: 1440px;
  position: relative;
  background-color: var(--black);
  display: none;
  max-width: 100%;
  z-index: 0;
}

.frame-child8 {
  height: 80px;
  width: 300px;
  position: absolute;
  margin: 0 !important;
  top: 80px;
  left: 100px;
  border-radius: var(--br-9xs);
  background-color: var(--primary-10);
  z-index: 1;
}

.logo-icon13 {
  height: 65.3px;
  width: 65.3px;
  position: relative;
  object-fit: cover;
  min-height: 65px;
}

.analyzer13,
.pomogranate13 {
  margin: 0;
}

.pomogranate-analyzer13 {
  position: relative;
  font-weight: 500;
}

.logo-wrapper1,
.logo8,
.pomogranate-analyzer-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.pomogranate-analyzer-wrapper1 {
  flex-direction: column;
  padding: var(--padding-10xs-6) 0 0;
}

.logo-wrapper1,
.logo8 {
  flex-direction: row;
}

.logo8 {
  flex: 1;
  padding: var(--padding-mid-4) var(--padding-7xs) var(--padding-mid-3);
  gap: var(--gap-smi-5);
  z-index: 2;
}

.logo-wrapper1 {
  align-self: stretch;
  padding: 0 var(--padding-xs) 0 var(--padding-9xs);
}

.pomegranate-disease-detection4 {
  margin: 0;
  width: 290px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}

.effective-disease-detection4 {
  flex: 1;
  position: relative;
  z-index: 1;
}

.effective-disease-detection-in-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--font-size-sm);
}

.frame-parent16,
.pomegranate-disease-detection-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.pomegranate-disease-detection-parent1 {
  align-self: stretch;
  font-size: var(--font-size-5xl);
  color: var(--white-100);
}

.frame-parent16 {
  width: 296px;
  gap: var(--gap-sm-8);
  font-size: var(--font-size-5xl-9);
  color: var(--black);
}

.home5,
.main-links4 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.main-links4 {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  min-width: 122px;
}

.home5 {
  min-width: 45px;
}

.home-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 var(--padding-12xs);
}

.about4,
.detect4,
.history4 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  z-index: 1;
}

.about4,
.history4 {
  min-width: 55px;
}

.about4 {
  min-width: 46px;
}

.frame-parent17 {
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}

.frame-parent17,
.frame-wrapper16,
.main-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-links-container {
  gap: var(--gap-xs);
}

.frame-wrapper16 {
  width: 191px;
  padding: var(--padding-3xs-8) 0 0;
  box-sizing: border-box;
}

.team-social4 {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}

.mohammed-awaf12,
.nitin-yadawad4,
.team-social4 {
  position: relative;
  z-index: 1;
}

.nitin-yadawad4 {
  display: inline-block;
  min-width: 109px;
}

.harsh-angadi4 {
  display: inline-block;
  min-width: 102px;
}

.harsh-angadi4,
.mohammed-umar4 {
  position: relative;
  z-index: 1;
}

.frame-wrapper18,
.mohammed-awaf-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.mohammed-awaf-parent2 {
  flex-direction: column;
  gap: var(--gap-5xs);
}

.frame-wrapper18 {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  font-size: var(--font-size-base);
}

.team-social-media-parent2 {
  flex-direction: column;
  gap: var(--gap-xs);
}

.frame-footer,
.frame-wrapper17,
.hifi-under-development,
.team-social-media-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-wrapper17 {
  flex-direction: column;
  padding: var(--padding-3xs-8) 0 0;
}

.frame-footer,
.hifi-under-development {
  position: relative;
}

.frame-footer {
  align-self: stretch;
  background-color: var(--black);
  flex-direction: row;
  padding: var(--padding-51xl-2) var(--padding-81xl) var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-535xl);
  max-width: 100%;
  text-align: left;
  justify-content: space-between;
  font-size: var(--font-size-5xl);
  color: var(--white-100);
  font-family: var(--font-inter);
}

.hifi-under-development {
  width: 100%;
  background-color: var(--white-25);
  overflow: hidden;
  flex-direction: column;
  gap: 64px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .menu6 {
    gap: var(--gap-258xl);
  }

  .frame-parent13 {
    gap: 81px;
  }

  .frame-footer {
    flex-wrap: wrap;
    gap: var(--gap-43xl);
    justify-content: center;
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1050px) {
  .webpage-is {
    font-size: var(--font-size-13xl);
  }

  .under-construction {
    font-size: 51px;
  }

  .ai-3-1 {
    flex: 1;
  }

  .frame-parent13 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .frame-nav {
    display: none;
  }

  .menu6 {
    gap: var(--gap-119xl);
  }

  .frame-parent14 {
    gap: var(--gap-2xl);
  }

  .frame-parent13 {
    gap: var(--gap-21xl);
  }

  .frame-footer {
    gap: var(--gap-12xl);
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }

  .hifi-under-development {
    gap: var(--gap-13xl);
  }
}

@media screen and (max-width: 450px) {
  .menu6 {
    gap: var(--gap-50xl);
  }

  .webpage-is {
    font-size: var(--font-size-5xl);
  }

  .under-construction {
    font-size: var(--font-size-19xl);
  }

  .this-webpage-is-container {
    font-size: var(--font-size-lgi);
  }

  .frame-wrapper14 {
    min-width: 100%;
  }

  .frame-parent13 {
    gap: var(--gap-xl);
  }

  .pomogranate-analyzer13 {
    font-size: var(--font-size-xl);
  }

  .main-links4,
  .pomegranate-disease-detection4,
  .team-social4 {
    font-size: var(--font-size-lgi);
  }

  .frame-footer {
    gap: var(--gap-mini);
    padding-top: var(--padding-27xl);
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }

  .hifi-under-development {
    gap: var(--gap-base);
  }
}