<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hifi-help.css') }}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" />
</head>

<body>
  <div class="hifi-help">
    <header class="menu5">
      <div class="logo-parent1">
        <img class="logo-icon10" loading="lazy" alt="" src="{{ url_for('static', filename='public/logo@2x.png') }}" />

        <div class="pomogranate-analyzer10">
          <p class="pomogranate10">Pomogranate</p>
          <p class="analyzer10">Analyzer</p>
        </div>
      </div>
      <nav class="menu-item-container">
        <div class="menu-item12">
          <div class="item12" onclick="window.location.href='/'">Home</div>
        </div>
        <div class="menu-item13">
          <div class="item13" onclick="window.location.href='/detect'">Detect</div>
        </div>
        <div class="menu-item14">
          <div class="item14" onclick="window.location.href='/info'">Info</div>
        </div>
        <div class="menu-item15">
          <div class="item15">Help</div>
        </div>
      </nav>
    </header>
    <main class="hifi-help-inner">
      <section class="result-4-parent">
        <div class="result-41">
          <div class="how-to-use-the-platform-wrapper">
            <h1 class="how-to-use">How To Use the Platform</h1>
          </div>
          <div class="frame-parent7">
            <div class="frame-wrapper6">
              <div class="frame-parent8">
                <div class="frame-wrapper7">
                  <div class="group-div">
                    <div class="image-12-parent">
                      <img class="image-12-icon" alt=""
                        src="{{ url_for('static', filename='public/image-12@2x.png') }}" />

                      <img class="click-1-icon" loading="lazy" alt=""
                        src="{{ url_for('static', filename='public/click-1@2x.png') }}" />
                    </div>
                  </div>
                </div>
                <div class="step-1-parent">
                  <h1 class="step-1">Step 1</h1>
                  <h2 class="click-on-detect-container">
                    <p class="click-on-detect">
                      Click on Detect Now in Home page.
                    </p>
                    <p class="or-go-to">Or go to Detect page</p>
                  </h2>
                </div>
              </div>
            </div>
            <div class="frame-parent9">
              <div class="frame-parent10">
                <div class="frame-wrapper8">
                  <div class="step-2-parent">
                    <h1 class="step-2">Step 2</h1>
                    <h2 class="upload-the-images-container">
                      <p class="upload-the-images">
                        Upload the images of pomegranate fruit.
                      </p>
                      <p class="please-refer-the">
                        Please Refer the Upload requirements
                      </p>
                    </h2>
                  </div>
                </div>
                <img class="vecteezy-cloud-upload-icon-542" loading="lazy" alt=""
                  src="{{ url_for('static', filename='public/vecteezy-clouduploadicon-5422535-1@2x.png') }}" />
              </div>
              <div class="frame-wrapper9">
                <div class="hourglass-isolated-on-white-ba-parent">
                  <img class="hourglass-isolated-on-white-ba-icon" loading="lazy" alt=""
                    src="{{ url_for('static', filename='public/hourglassisolatedonwhitebackgroundfreevector-1@2x.png') }}" />

                  <div class="frame-wrapper10">
                    <div class="step-3-parent">
                      <h1 class="step-3">Step 3</h1>
                      <h2 class="wait-for-results">Wait For results.</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="result-5">
          <h1 class="image-upload-requirements">Image Upload Requirements</h1>
          <h2 class="image-should-be-container">
            <ul class="image-should-be-in-square-form">
              <li class="image-should-be">
                Image Should be in square format(1:1).
              </li>
              <li class="image-size-should">
                Image size should be less than 5mb.
              </li>
              <li>Supported Image Formats - jpg, png, jpeg.</li>
            </ul>
          </h2>
        </div>
      </section>
    </main>
    <footer class="footer-container">
      <div class="footer6"></div>
      <div class="frame-child7"></div>
      <div class="frame-parent11">
        <div class="logo-frame">
          <div class="logo7">
            <img class="logo-icon11" alt="" src="{{ url_for('static', filename='public/logo-1@2x.png') }}" />

            <div class="pomogranate-analyzer-frame">
              <div class="pomogranate-analyzer11">
                <p class="pomogranate11">Pomogranate</p>
                <p class="analyzer11">Analyzer</p>
              </div>
            </div>
          </div>
        </div>
        <div class="pomegranate-disease-detection-container">
          <h3 class="pomegranate-disease-detection3">
            Pomegranate Disease Detection
          </h3>
          <div class="effective-disease-detection-in-container">
            <div class="effective-disease-detection3">
              Effective Disease Detection in Pomegranate using CNN and LSTM
              method.
            </div>
          </div>
        </div>
      </div>
      <div class="frame-wrapper11">
        <div class="main-links-group">
          <h3 class="main-links3">Main Links</h3>
          <div class="frame-parent12">
            <div class="home-wrapper1">
              <div class="home4">Home</div>
            </div>
            <div class="detect3">Detect</div>
            <div class="history3">History</div>
            <div class="about3">About</div>
          </div>
        </div>
      </div>

    </footer>
  </div>
</body>

</html>